# general
*~
\#*\#
.\#*
*.pyc
.DS_Store

bin

# cmake/ctest/cpack
CMakeCache.txt
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Testing
Makefile
!dist/Makefile
!doc/Makefile
!src/ElementInfo/Makefile
!suite/Makefile
!test/cli/Makefile
!test/Makefile
!timing/Makefile
