#content {
    margin-top:3em;
}

/* classes used internal to the displayedDocDefinition class. */

.elementListing>ul ul {
    padding-bottom:.3em;
}

.elementListing>ul {
    margin:0px;
    padding:0em;
    padding-left:1.5em;
    margin-bottom:1em;
}


.xpathQueries {

}

.xpathDesc {

}

h3.subtitle {
    line-height:1.3;
    padding:0em;
    margin:0em;
    margin-bottom:.3em;
}

h4.subtitle {
    padding:0em;
    margin:0em;
    margin-top:2em;
}

.opTitle {
}

.opCodeCol {
}

.opsrcMLCol {
}


pre {
    margin:0em;
}

.xpathQueryExample {
}

/** Syntax Highlighting for srcML Markup. */
.srcMLElement {
    font-weight: normal;
    color:#3333FF;
}

.srcMLAttribName {
    font-weight: normal;
    color:#FF4D4D;
}

.srcMLAttribEquals {
    font-weight: normal;
    color:#FF4D4D;
}

.srcMLAttribValue {
    font-weight: normal;
    color:#C5C545;
}

/** Syntax Highlighting for all srcML languages (but not the XML representation). */

/*
    This helps with SOME keywords not all of them, just the ones which are more
    difficult to locate because they are part of mixed content OR they are
    marked up as src:name
*/
.kw {
    color:orange;
    font-weight:bold;
}

/* Preprocessor highlighting*/
.cpp_define {
    color:#B84DDB;
}

.cpp_directive {
    color:#B84DDB;
}

.cpp_macro {
    color:black;
}

.cpp_value {
    color:black;
    font-weight: normal;
}

.cpp_undef {
    color:#B84DDB;
}

span.cpp_if span.kw {
    color:#B84DDB;
}
span.cpp_else span.kw {
    color:#B84DDB;
}

span.cpp_undef span.src_name {
    color:black;
}

.cpp_if {
    color:#B84DDB;
}

.cpp_ifdef {
    color:#B84DDB;
}

.cpp_endif {
    color:#B84DDB;
}

.cpp_ifndef {
    color:#B84DDB;
}

.cpp_else {
    color:#B84DDB;
}

.cpp_elif {
    color:#B84DDB;
}

.cpp_include {
    color:#B84DDB;
}

.cpp_file {
    color:#C5C545;
    font-weight:bold;
}

.cpp_pragma {
    color:#B84DDB;
}

.cpp_error {
    color:#B84DDB;
}

.cpp_line {
    color:#B84DDB;
}

.cpp_number {
    color:#33cc33;
}

.type_modifier {
    font-weight:normal;
    color:black;
}

.op_operator {
    font-weight:normal;
    color:black;
}

.lit_literal {
    color:#C5C545;
    font-weight:bold;
}

.src_name {

}

.src_name {
}

.src_parameter_list {
}

.src_param {
}

.src_type { 
}

.src_expr {
}

.src_if {
}

.src_condition {
}

.src_then {
}

.src_block {
}

.src_expr_stmt {
}

.src_call {
}

.src_argument_list {
}

.src_argument {
}

.src_comment {
    color:#009900;
}

.src_else {
}

.src_elseif {
}

.src_while {
}

.src_index {
}

.src_for {
}

.src_init {
}

.src_incr {
}

.src_decl {
}

.src_do {
}

.src_decl_stmt {
}

.src_break {
}

.src_continue {
}

.src_return {
}

.src_switch {
}

.src_case {
}

.src_default {
}

.src_label {
}

.src_goto {
}

.src_empty_stmt {
}

.src_specifier {
}

.src_extern {
}

.src_function_decl {
}

.src_function {
}

.src_typedef {
}

.src_struct {
}

.src_range {
}

.src_struct_decl {
}

.src_union_decl {
}

.src_union {
}

.src_enum {
}

.src_sizeof {
}

.src_alignas {
}

.src_alignof {
}

.src_atomic {
}

.src_generic_selection {
}

.src_selector {
}

.src_association_list {
}

.src_association {
}

.src_assert {
}


/* Operators table */


table.OpsTable tbody td:nth-child(2) {
    text-align:center;
}

table.OpsTable tbody td:nth-child(3) {
    padding-left:10px;
}

table.OpsTable {
    min-width:40em;

}

.xpathQueryOperatorExample {
    margin-bottom:1em;
}
