a.tagTitle {
    font-family:"Courier New";
}

th.languageSupportHeader {
    width:4em;
}

table.ToC thead tr th:nth-child(2) {
    width:7em;
}
div.languagesDisplayDiv {
    float:right;
}

/* Languages table */
table.languagesTable {
    text-align:center;
    border-collapse: collapse;
    border:.1em solid #D2D2CE;
    margin-left:0em;
    margin-right:0em;
}

table.languagesTable th{
    width:2em;
}

table.languagesTable tbody {
    border:1px solid #D0D0D0;
}

table.languagesTable tbody tr:nth-child(odd) {
   background-color: #F0F0F0;
}

table.languagesTable thead {
    border-collapse: collapse;
}
table.languagesTable td {
    border-collapse: collapse;
    border-left:1px solid #D2D2CE;
    padding:2px;
    padding-left:5px;
}

