/* use case display */
div.useCaseDisplay {
    min-height:5em;
    padding-top:5px;
}

div.useCaseDisplay h4.subtitle a {
    color:black;
}
div.grammarDisplay {
    padding: 10px;
    overflow:auto;
    background-color:#eee;
    margin-bottom:.3em;
    margin-right:0px;
    font-family:"Courier New";
    font-size:13px;
}

.useCaseWithLanguageHeader {
    min-height:2em;
}

.multiUseCase {
    float:left;
}


a.tagTitle {
    font-family:"Courier New";
}

table.ToC thead tr th:nth-child(2) {
    width:7em;
}


table.ToC tbody tr td.subRules {
    padding-left:2em;
}

table.Toc tbody tr {
    border-width:1px solid white;
}

table.ToC tbody tr:hover {
    font-weight:bold;
    /* border:1px solid black; */
    /*background-color:white;*/
}

/* Grammar Documentation Styles */
/* All the places to put whitespace*/
.gParamUse::before,
.gParam::before,
.gRef::before,
.gText::before,
.gNumber::before,
.gIdentifier::before,
.gEmpty::before,
.gTag::before,
.gSeparator::before,
.gHasParens::before,
.gLiteral::before,
span.gRuleRHS:nth-last-child(1)::after,
.gAttrName::before,
span.gAttrs::before,
span.gParameters::before,
span.gOperator::before,
span.gNotImplemented::before
{
    content:" ";
}

.gGeaterThenFive>.gSeparator:before {
    content:"\a    ";
    white-space: pre;
}

/* Places that don't need whitespace */
span.gArg:first-child>span:first-child::before,
.gParam:first-child::before,
.gParam:last-child::after,
.gHasParens>span:last-child::after,
.gHasParens>span:first-child::before
{
    content:"";
}

/* Super special case where I actaully want the space */
.gHasParens>span.gExprSuffix:last-child::after,
span.gTag>span.gTagSubExpr:last-child::after
{
    content:" ";
}
span.gKW {
    font-weight:bold;
}
span.gLiteral {
    color:red;
}
span.gAttrName {
    color:blue;
}
span.gTagName {
    color:blue;
}
/*
Span Classes:
    gParamUse
    gRef
    gArgs
    gArg
    
    gText
    gKW
    gLiteral
    gNumber
    gIdentifier
    gEmpty
    gTag
    gTagName
    gAttrs
    gAttr
    gOptional
    gZeroOrMore
    gGroup
    gOneOrMore
    gChoice
    gSeparator
    gSpaceSeparator
    gAttrName
    gParam
    gRule
    gRuleLHS
    gCurrentRuleName

Link Classes:
    gRuleRef
    gTagLink
    gAttrLink
*/

span.replacableText {
    font-style: italic;
}
