# libsrcml examples executables
srcml_convenient
srcml_copy_archive
srcml_create_archive_fd
srcml_create_archive_file
srcml_create_archive_filename
srcml_create_archive_full
srcml_create_archive_memory
srcml_direct_language
srcml_direct_language_list
srcml_direct_language_xml
srcml_direct_src2srcml
srcml_direct_srcml2src
srcml_list
srcml_read_archive_fd
srcml_read_archive_file
srcml_read_archive_filename
srcml_read_archive_full
srcml_read_archive_memory
srcml_relaxng
srcml_sort_archive
srcml_split_archive
srcml_transform
srcml_xpath
srcml_xslt

# libsrcml examples data
a.cpp
a.cpp.xml
main.cpp.xml
project.xml
project2.xml
project_include.xml
project_other.xml
project_tmp.xml
relaxng.xml
transform.xml
xpath.xml
xslt.xml

