*.suo

python/srcml/bindings.py
python/examples/run.sh
python/test/testLauncher.py
python/test/srcml_test/test_bindings.py
csharp/SrcML/CSharp_SrcML.csproj
csharp/SrcML/Properties/AssemblyInfo.cs
csharp/SrcML/bin
csharp/SrcML/obj

python/examples/launcher.sh
python/examples/python_api/launcher.sh

